.idea
PullToRefresh.xcodeproj/xcuserdata/josip04.xcuserdatad
PullToRefresh.xcodeproj/xcuserdata/josip04.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
build
PullToRefresh.xcodeproj/project.xcworkspace/xcuserdata/josip04.xcuserdatad/UserInterfaceState.xcuserstate