<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PullToRefresh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Refresher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C7AC6CCB19A7FE6D007107DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7AC6CD519A7FE6D007107DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7D1CF8E199BB3C8009FD485</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7D1CFA0199BB3C8009FD485</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
